name: Build & Deploy
on:
  push:
    branches:
      - main
jobs:
  clone:
    name: Pull
    runs-on: self-hosted
    steps:
      - run: cd ~/ht2 ; git stash ; git pull origin main

on:
  push:
    branches:
      - main
      - 'releases/**'
